version: 1.0.0-{build}
configuration: Release

before_build:
- choco install opencover.portable
- choco install codecov

build_script:
- ps: .build\build.ps1

test_script:
- codecov -f "coverage.xml -t 0c9fa180-5ede-4817-af50-4af9ec433510


artifacts:
- path: artifacts\*.nupkg
  name: releasePackages

deploy:
- provider: NuGet
  server: https://www.myget.org/F/nugetnetcoretestpackage/api/v2/package
  api_key:
    secure: TWVKxbiZneCbY9ckMQxFhV+jhSir05VD2ZoX9lMzfSPCbjUdLo/FUZh3hemWcgGb
  skip_symbols: true
  artifact: /.*\.nupkg/
  on:
    branch: master